<div class="row">
    <div class="well">
    <div ng-controller="discoverController" onload="doHotTags()">
        <span>Top Tags:</span>
         <span ng-repeat="tag in topPhotoTags">
           <span class="tags{{tag.score}}">{{tag._content}} </span>
         </span>
        </div>
        </div>
        </div>
        </div>
     <div class="row">   
        <form class="well form-horizontal text-center">
            <label for="search">Tags: </label>
            <input id="search" type="text" ng-model="search"/>
            <button class="btn" ng-click="doSearch()">Search</button>
        </form>
        <thumbnails photos="photos.photos.photo" loading="loading"/>
    </div>

<div class="row"></div>


