<div class="row">
    <div class="col-md-6 text-center" ng-controller="detailsController">
     Posted by: <a href="#/users/{{photoInfo.photo.owner.nsid}}">{{photoInfo.photo.owner.username}}</a> 
     title: {{photoInfo.photo.title._content}}
     views: {{photoInfo.photo.views}}
    </div>
</div>

<div class="row">
    <div>
     <img class="img-rounded" ng-src="http://farm{{photoInfo.photo.farm}}.staticflickr.com/{{photoInfo.photo.server}}/{{photoInfo.photo.id}}_{{photoInfo.photo.secret}}_z.jpg">
    </div>
</div>
 
    
